.headline-filter-container {
  width: 100%;
}

.headline-filter-container .btn {
  margin: 2% auto;
  display: block;
}

.headline-filter-container input {
  margin: 0 2% 0 0;
}

.headline-filter-container div {
  /* background-color: #fff;
  color: #fff;
  border: 1px solid #fff;  */
  margin: 0 0 2%;
  cursor: pointer;
}

.headline-categories-container {
  /* display: flex; */
}